@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
}

.logo {
    font-weight: 900;
    font-size: 20px;
    padding: 0;
}

ul,
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    gap:50px;
}
ul {
    display: flex;
    justify-content: flex-end;
}

.subject {
    color: white;
    background-color: #1F2937;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 20px;
    flex-shrink: 1;
}  
.title {
    font-size: 48px;
    font-weight: bolder;
}
.sub-title {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    width: auto;
    padding: 10px;
    justify-content: center;
}
#sign-up-button-one {
    background-color: lightblue;
    border: none;
}

.image img {
    width: 150px;
    height: 150px;
}
.info {
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-title {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    padding: 30px;
}
.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    justify-content: center;
    margin: 0px 20px;
    max-width: 150px;
} 
.text {
    text-align: center;
    font-size: 13px;
}
.quote {
    display: flex;
    height: 320px;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-quote {
    font-size: 36px;
    font-style: italic;
    max-width: 780px;
}
.sign-up {
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #3882F6;
    display: flex;
    padding: 10px;
    color: white;
    height: 100px;
    width: 830px;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.left-modal{
    display: flex;
    flex-direction: column;
}
.modal-head {
    font-weight: bold;
}
#sign-up-button-two {
    background-color: #3882F6;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    font-weight: 300;

}
.div

